<c-row>
  <c-col [sm]="3">
    <c-card class="mb-4">
      <c-card-body>
        <h5 cCardTitle>Reinscripcion</h5>
        <img src="../../../assets/portada_sito_reinscripcion.png" alt="" srcset="">

      </c-card-body>
    </c-card>
  </c-col>
  <c-col [sm]="3">
    <c-card class="mb-4">
      <c-card-body>
        <h5 cCardTitle>Intercuatrimestrales</h5>
        <img src="../../../assets/portada_sito_intercuatrimestrales.png" alt="" srcset="">

      </c-card-body>
    </c-card>
  </c-col>
  <c-col [sm]="3">
    <c-card class="mb-4">
      <c-card-body>
        <h5 cCardTitle>Pagos</h5>
        <img src="../../../assets/portada_sito_pagos.png" alt="" srcset="">

      </c-card-body>
    </c-card>
  </c-col>
  <c-col [sm]="3">
    <c-card class="mb-4">
      <c-card-body>
        <h5 cCardTitle>Micrositio</h5>
        <img src="../../../assets/micro.png"  height="150px" alt="" srcset="">

      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col [sm]="3">
    <c-card class="mb-4">
      <c-card-body>
        <h5 cCardTitle>Becas</h5>
        <img src="../../../assets/portada_sito_becas.png" alt="" srcset="">

      </c-card-body>
    </c-card>
  </c-col>
  <c-col [sm]="3">
    <c-card class="mb-4">
      <c-card-body>
        <h5 cCardTitle>Documentos</h5>
        <img src="../../../assets/portada_sito_documentos.png" alt="" srcset="">

      </c-card-body>
    </c-card>
  </c-col>
   <c-col [sm]="3">
    <c-card class="mb-4">
      <c-card-body>
        <h5 cCardTitle>Hoja de vigencia</h5>
        <img src="../../../assets/imss.png" alt="" srcset="">

      </c-card-body>
    </c-card>
  </c-col>
  <c-col [sm]="3">
    <c-card class="mb-4">
      <c-card-body>
        <h5 cCardTitle>Captura de numero de seguro social</h5>
        <img src="../../../assets/imss.png" alt="" srcset="">

      </c-card-body>
    </c-card>
  </c-col>
</c-row>
